*{
    padding: 0;
    margin: 0;
}
.simple-line-icons--arrow-right {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23000' d='M271.653 1023.192c-8.685 0-17.573-3.432-24.238-10.097c-13.33-13.33-13.33-35.144 0-48.474L703.67 508.163L254.08 58.573c-13.33-13.331-13.33-35.145 0-48.475c13.33-13.33 35.143-13.33 48.473 0L776.38 483.925c13.33 13.33 13.33 35.143 0 48.473l-480.492 480.694c-6.665 6.665-15.551 10.099-24.236 10.099z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    font-weight: 500;
  }


.body {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
header {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.779),80%, transparent), url(Netflix/CD-en-20240401-popsignuptwoweeks-perspective_alpha_website_small.jpg);
}
header::before{
    background-color: black;
    z-index: 1;
}

.header__nav {
    padding-top: 10px;
    padding-right: 150px;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.nav__logo {
    height: 70px;
    width: 180px;
}
.nav__bouton {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color:red;
    border-radius: 0.1875rem;
    height: 35px;
    width: 65px;
    font-weight: 500;
}
.paragraphe__padding{
    padding-top: 200px;
    padding-bottom: 200px;
}
.Style__paragraph{
    color: white;
    font-weight: bolder;
    font-size: 48px;
    align-items: center;
    height: 60px;
}
.All__paragraphStyle2{
    font-size: 24px;
    margin-top: 16px;
    font-weight: 400;
}
.All__paragraphStyle3{
    font-size: 20px;
    font-weight: 400;
}
.header__paragraphe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__bouton{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color:red;
    border-radius: 0.1875rem;
    height: 40px;
    width: 150px;
    font-weight: 500;
}
#mail{
    height: 40px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.347);
    border: green solid 1px;
    border-radius: 0.1875rem;
    color: white;
    font-weight: 200;
    padding-right: 10px;
    padding-left: 10px;
}
.nav__boutons{
    display: flex;
    gap: 10px;
    margin-right: 150px;
}

/* .....the main..... */

.Section__text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 90px;
    font-size: 32px;
}
.Main__section1 {
    background-color: black;
    border: ;
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    border-top: 7px solid rgba(255, 255, 255, 0.145);
}
.TV__style{
    width: 360px;
    height: 270px;
    padding-top: 50px;
}
.section__width{
    margin: auto;
    padding: auto;
}
.paragraph__size{
    font-size: 16px;
}